<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deadline Request Details</title>
</head>
<body>
<h1> User {{ user.username }} is requesting a deadline extension for the project {{ Project.title }} </h1>
<br><br><br>
<h3>User Details</h3>
<p>Username: {{ user.username }}</p>
<p>First Name: {{ user.first_name }}</p>
<p>Last Name{{ user.last_name }}</p>
<p>Email ID: {{ user.email }}</p>
<p>Institution: {{ user.profile.institution }}</p>
<p>Bio: {{ user.profile.bio }}</p>
<p>Website: {{ user.profile.website }}</p>
<p>Phone Number: {{ user.profile.phone_no }}</p>
<br><br>
<h3>Project Details</h3>
<p>Title: {{ Project.title }}</p>
<p>Slug: {{ Project.project_slug }}</p>
<p>Abstract: {{ Project.abstract }}</p>
<p>Description: {{ Project.description }}</p>
<p>Significance: {{ Project.significance }}</p>
<p>Additional Details: {{ Project.additional_details }}</p>
<p>Affiliations: {{ Project.affiliations }}</p>
<p>Target Amount: {{ Project.target_amount }}</p>
<p>Current Earnings: {{ Project.balance_amount }}</p>
<p>Completion Percentage: {{ Project.completion_percentage }}</p>
<p>Reference 1: {{ Project.reference1 }}</p>
<p>Reference 2: {{ Project.reference2 }}</p>
<p>Reference 3: {{ Project.reference3 }}</p>
<p>Codebase: {{ Project.codebase }}</p>
<p>Dataset: {{ Project.dataset }}</p>
<p>Intellectual Property: {{ Project.intellectual_property }}</p>
<p>Accepting Collaborators: {{ Project.accept_collaborators }}</p>
<p>Accepting Interns: {{ Project.accept_interns }}</p>
<p>Accepting Mentors: {{ Project.accept_mentors }}</p>
<p>Applied Fees: {{ Project.fees }}</p>
<p>Current Deadline: {{ Project.deadline }}</p>
<br><br>
<h3>User History</h3>
{% for event in user_hist %}
<p>{{ event.time_of_action }}: {{ event.type_of_action }}</p>
{% endfor %}
<br><br>
<h3>Project History</h3>
{% for event in proj_hist %}
    <p>{{ event.time_of_action }}: {{ event.type_of_action }}</p>
{% endfor %}
<br><br><br><br><br><br><br>
<h2>New Requested Deadline: {{ new_dead }}</h2>
<a href="{% url 'Projects:accept_dead' slug=Project.project_slug %}">Accept Request</a>
<a href="{% url 'Projects:reject_dead' slug=Project.project_slug %}">Reject Request</a>
</body>
</html>