<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Submitted Internship Request</title>
</head>
<body>
<h2>These are the submitted mentorship requests for {{ project.title }}</h2>
{% for interns in internships %}
<h5>Submitted By:</h5>
<p>Username:{{ interns.requesting_user.username }}</p>
<p>First Name:{{ interns.requesting_user.first_name }}   Last Name:{{ interns.requesting_user.last_name }} </p>
{#<p>Relevant Qualification:{{ recom.relevant_qualification }} </p>#}
{#<p>LinkedIn Profile:<a href="{{ recom.LinkedIn_profile }}">{{ recom.LinkedIn_profile }}</a> </p>#}
<h5>Body:</h5>
<p>{{ interns.body }}</p>
    <br><br><br>
    <a href="{% url 'Projects:acceptintern' intern_id=interns.intern_id %}">Accept</a>
    <a href="{% url 'Projects:rejectintern' intern_id=interns.intern_id %}">Reject</a>
{% endfor %}
</body>
</html>