<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deleting Projects</title>
</head>
<body>
<h1>You Are Deleting A Project</h1>
<h3>Please Enter the Slug of the project you are deleting below:</h3>
<form method="post" action="{% url 'Projects:delete_project' slug=slug %}">
    <input type="text" name="">


</form>
</body>
</html>