{% autoescape off %}
<h2>Welcome to the family, {{ user.first_name }}!</h2>
<br>
<p><i>We are genuinely excited to have you on board the Oversight family, <b>{{ user.first_name }}</b>. Before proceeding forward, let's just get the formalities out of the way quickly, mate.        Please confirm this account by clicking on the below mentioned link before we can render all magical functions of our platform at your disposal.</i></p>
<br>

<a href="https://oversight-test.herokuapp.com{% url 'Accounts:activate' uidb64=uid token=token %}"><code>https://oversight-test.herokuapp.com{% url 'Accounts:activate' uidb64=uid token=token %}</code></a>



<br><br>
Let us know if you need any help. :)

<br><br>
<b>With &hearts; from Oversight</b>

{% endautoescape %}

<!--{% comment %} use { domain } only before production as the example.com is not set yet. {% endcomment %} -->