<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Sign up</h2>
    {% for error in errors %}
    <p>{{ error }}</p>
    {% endfor %}
<form method="post" action="{% url 'Accounts:signupform' %}">
  {% csrf_token %}
    <input name="username"  id="username" type="text" placeholder="Username">
    <input name="email" id="email" type="email" placeholder="Email">
    <input name="first_name" id="first_name" type="text" placeholder="First Name">
    <input name="last_name" id="last_name"  type="text" placeholder="Last Name">
    <input name="password" id="password" type="password" placeholder="Password">
    <input name="confirm_password" id="confirm_password" type="password" placeholder="Confirm Password">
  <button type="submit">Sign up</button>
{#    <a href="{% provider_login_url 'github' %}">Sign Up with GitHub</a>#}
{#  <a href="{% provider_login_url 'github' %}">Sign Up with LinkedIn</a>#}
{#  <a href="{% provider_login_url 'github' %}">Sign Up with Google</a>#}
</form>
</body>
</html>
