<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feed</title>
</head>
<body>
<H2>This is Your Feed {{ user.username }}</H2>
<br><br><br><br><br>
{% for event in events %}
    <h4>Username: {{ event.user.username }}</h4>
    <p>Time and Date: {{ event.time_of_action }}</p>
    {% if event.type_of_action == "Creation" %}
    <p>Created a New Project: <a href="{% url 'Projects:project_details' project_id=event.project_id.project_id %}">{{ event.project_id.title }}</a></p>
    {% elif event.type_of_action == "Recom" %}
    <p>A New Recomendation Has Been Added To The Project: <a href="{% url 'Projects:project_details' project_id=event.project_id.project_id %}">{{ event.project_id.title }}</a></p>
    {% endif %}
<br><br>
{% endfor %}

</body>
</html>