<!DOCTYPE html>
<html lang="en">
<form method = "GET" action="{% url search %}">
<input name="q" value="{{request.GET.q}}" placeholder="search">
<button class="btn btn-success" type="submit">
search
</button>
</form>