{% autoescape off %}
<h1> User {{ user.username }} is requesting a deadline extension for the project {{ Project.title }} </h1>
<h3>Folow the link below to view further details:</h3>
<a href="https://oversight.in{% url 'Projects:dead_req_det' slug=Project.project_slug %}">View Request Details</a>
{% endautoescape %}