body,header,body::before,.card{
    background: #18191D;
}

.card{
    background: #2A2B31
}


.topHeader .buttonContainer{
    float: right;
    margin-right: 12%;
}

.topHeader .buttonContainer button{
margin: 0 30px;
padding: 10px 30px
}


.topHeader .buttonContainer .btn{
    padding: 7px 25px;
    font-size: 1.2em;
    background: #1D2024;
    border-color: rgb(143, 230, 12);
    border-radius: 2px;
    }


#content .buttonContainer button{
    margin-top: 10px;
    margin-bottom: 10px;
}
#content .buttonContainer .btn{
    padding: 12px 35px;
    font-size: 1.4em;
    background: rgba(0, 7, 2, 0.61);
    background: #1D2024;
    border-color: rgb(143, 230, 12);
    border-radius: 2px;
    }

    #content .buttonContainer .btn:hover, .topHeader .buttonContainer .btn:hover{
        background: rgb(96, 158, 2);
        background: #7AC231;
        color: white;
        border-color: aliceblue;
    }
#main{
    margin-top: 100px;
}

@media (min-width:1280px) {
    #main {
        width: 90%;
        margin: 100px auto;
        margin-bottom: 0;
        min-height: calc(100vh - 159px)
    }
}

@media(max-width:800px){
    .topHeader .buttonContainer{
        float: none;
        width: 100%;
        margin: 10px 7%;
    }}



.mainContent img{
 max-height: 700px;
 width: 100%;
}

.mainContent .card__body {
    padding-left:  0;
    padding-right: 0;
    font-size: 1.1em;
}

.mainContent p {

    font-size: 1.1em;
}


.mainContent .row{
    width: 100%;
    display: inline-flex;
}

.mainContent .row .column-1{
    width: 50%;
    margin-right:  10px;
}