body{
    /* background: rgba(5, 5, 5, 0.945); */
    overflow-x: hidden;
}
.topHeader .buttonContainer{
    float: right;
    margin-right: 7%;
}


.topHeader  a{
    font-size: 2.5em !important;
}
.topHeader .buttonContainer button{
margin: 0 30px;
transition: 0.5s;
background: #2A2B31;
color: white;
border: none;
}

.firstRow{
    display: flex;
    width: 100%;
    margin-bottom: 0;
}

.firstRow div:nth-child(1){
    width: 60%;
}
.firstRow div:nth-child(2){
    padding-left: 35px;
}
/* .topHeader .buttonContainer .btn{
    padding: 10px 30px;
    font-size: 1.2em;
    background: #1D2024;
    border-color: rgb(143, 230, 12);
    color: #FFFFFF;
    border-radius: 2px;
    } */


#main .buttonContainer button{
    margin-top: 5px;
    transition: 0.5s;
    padding: 20px 40px;
    font-size: 1.6em;
}


@media (min-width:1280px) {
    #main {
        width: 90%;
        margin: 20px auto;
        margin-bottom: 0;
        min-height: calc(100vh - 159px)
    }
}

@media(max-width:890px){
    .topHeader .buttonContainer{
        width: 100%;
        display: inline-flex;
        margin: 10px 30px;
        margin-top: 20px;
    }
    .topHeader .buttonContainer button{
        margin-bottom: 20px;
    }
    .topHeader  a{
        display: block !important;
        margin-top: 10px;
    }
    #main .buttonContainer button{
        margin-top: 0;
    }
    .firstRow{
        flex-direction: column;
        margin: 0 !important;
    }
    .firstRow div:nth-child(1){
        width: 100%;
        margin: 0 !important;
    }
    .firstRow div:nth-child(2){
        padding: 0;
        margin: 0;
        margin: 30px 0;
    }
}




.mainContent img{
 max-height: 600px;
 width: 100%;
}

/* .card{
    background: rgb(14, 13, 13) !important;
} */

.mainContent .card__body {
    padding-left:  0;
    padding-right: 0;
    font-size: 1.1em;
}

.mainContent p {
    font-size: 1.1em;
    /* color: rgb(236, 236, 236); */
}

.mainContent .container{
    margin-top: 0px;
}

.mainContent .row{
    width: 100%;
    margin-top: -310px;
    display: inline-flex;
}

.mainContent .row .column-1{
    width: 49%;
    margin-right:  10px;
}


.mainContent .card__body{
    padding: 25px;
}

.abstract{
    padding:0 30px;
    margin-top:30px;
    margin-bottom: 0;
}
@media(max-width:800px){
    .mainContent .row{
        display: block;
        margin-top: 0;
    }
    .mainContent .row .column-1{
        width: 100%;
        margin-right:  0px;

    }
    #main {
        padding:0 30px;
        margin-top: 0px;
    }
    .mainContent img{
        margin-top: 20px;
    }

  .mainContent  .card__body{
        padding: 10px 25px;
    }
    .abstract{
        padding:0 10px;
    }

}



