{% load staticfiles %}
<footer class="app-footer">
    <div class="primary-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4" >
                    <h4 class="text-uppercase">Oversight</h4>
                    <p>Subscribe to our newsletter to receive news, updates, free stuff and new releases by email. We don't do spam.</p>
                    <!-- <p class="copyright">&copy; Copyright 2018 VectorLab, Inc.™</p> -->
                </div>
                <div class="col-md-4 mb-md-0 mb-3" >
                    <h6 class="text-uppercase">Resources</h6>
                    <ul class="list-unstyled">
                        <li><a href="javascript:;">Browse Projects</a></li>
                        <li><a href="javascript:;">Upcoming Features</a></li>
                        <li><a href="javascript:;">Advertisement Structure & Pricing</a></li>
                    </ul>
                </div>
                <div class="col-md-4" >
                    <h6 class="text-uppercase">Miscellaneous</h6>
                    <ul class="list-unstyled">
                        <li><a href="javascript:;">Privacy Policy</a></li>
                        <li><a href="javascript:;">Terms of Use</a></li>
                        <li><a href="javascript:;">Apply for Internship</a></li>
                    </ul>
                </div>
            </div>
            <br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
    </div>
    <div class="secondary-footer text-md-left text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-md-0 mb-3">
                    <div class="payment-cards">
                        <img src="{% static 'Landing/img/fc1.png' %}" alt=""/>
                        <img src="{% static 'Landing/img/fc2.png' %}" alt=""/>
                        <img src="{% static 'Landing/img/fc3.png' %}" alt=""/>
                        <img src="{% static 'Landing/img/fc4.png' %}" alt=""/>
                    </div>
                </div>

                <div class="col-md-6 text-md-right" >
                  <!--
                    <div class="float-md-right  mb-md-0 mb-3">
                        <span class="sm-txt pr-2">Language:</span>
                        <div class="btn-group ">
                            <button type="button" class="btn-language dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                English
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <button class="dropdown-item" type="button">English</button>
                                <button class="dropdown-item" type="button">French</button>
                                <button class="dropdown-item" type="button">Chinese</button>
                            </div>
                        </div>
                    </div>

                    <div class="social-links float-md-right">
                        <a href="javascript:;"><i class="fa fa-facebook"></i></a>
                        <a href="javascript:;"><i class="fa fa-twitter"></i></a>
                        <a href="javascript:;"><i class="fa fa-bitcoin"></i></a>
                        <a href="javascript:;"><i class="fa fa-youtube"></i></a>
                        <a href="javascript:;"><i class="fa fa-linkedin"></i></a>
                        <a href="javascript:;"><i class="fa fa-google-plus"></i></a>
                    </div>
                    -->
                    <div class="float-md-right  mb-md-0 mb-3">
                      <span class="sm-txt pr-2">Engineered with &hearts; in New Delhi, India.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>