<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
</head>
<body>
<h2>{{ transactView.id }}</h2>
    <form action="{% url 'pay' %}" method="POST">
        {% csrf_token %}
       <script
    src="https://checkout.razorpay.com/v1/checkout.js"
    data-key="{{ key }}"
    data-order_id="{{ id }}"
    data-currency="INR"
    data-buttontext="Pay"
    data-name="Oversight"
    data-description=""
    data-prefill.name="test"
    data-prefill.email="test@test.com"
    data-theme.color="#F37254"

></script>
    </form>
</body>
</html>
